mixin search-hero
  section#search-hero(style="background-image: url('assets/images/bg.png')")
    .row
      .constrain
        h1 CMS Knowledge Base
        input#hero-search(type="text" placeholder="Search our knowledge base..." name="q" autocomplete="off")